/* Fonts */

@font-face {
	font-family: "Andada";
	src: url("/fonts/Andada-Regular.otf");
}

@font-face {
	font-family: "Andada";
	src: url("/fonts/Andada-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "AndadaSC";
	src: url("/fonts/AndadaSC-Regular.otf");
}

@font-face {
	font-family: "AndadaSC";
	src: url("/fonts/AndadaSC-Bold.otf");
	font-weight: bold;
}


/* Body */

body {
	max-width: 1030px;
	margin: 0 auto;

	-webkit-font-smoothing: antialiased;
}

/* Header */

header {
	padding: 20px 0 50px 0;
}

header h1, header a {
	font-family: Andada;
	font-weight: bold;
	font-size: 14pt;
	letter-spacing: 1px;
}

header h1 {
	float: left;
	margin: 0 0 0 20px;
}

ul.navigation {
	float: right;
	margin: 0 20px 0 0;
}

ul.navigation li {
	display: inline;
	list-style-type: none;
	padding: 0 10px 0 10px;
}

ul.navigation li img {
	width: 24px;
	height: 24px;
	display: inline;
	vertical-align: text-bottom;
}

ul.navigation a:link {
	text-decoration: none;
	color: #ea4525;
}

ul.navigation a:visited {
	text-decoration: none;
	color: #ea4525;
}

ul.navigation a:hover {
	text-decoration: underline;
	color: #ea4525;
}

ul.navigation a:active {
	text-decoration: underline;
	color: #ea4525;
}

/* Footer */

footer {
	margin: 0 20px;
	padding: 20px 0;
	clear: both;
	border-top: 2px solid #dcdede;

	font-family: AndadaSC;
	font-size: 16pt;
	text-align: center;
	text-transform: lowercase;
}

footer a:link {
	color: #ea4525;
	text-decoration: none;
}

footer a:visited {
	color: #ea4525;
	text-decoration: none;
}

footer a:hover {
	color: #ea4525;
	text-decoration: underline;
}

footer a:active {
	color: #ea4525;
	text-decoration: underline;
}

/* Main */

section.main {
	clear: both;
}

/* Article list */

ul.articles {
	margin: 0;
	padding: 0;
}

ul.articles li {
	list-style-type: none;
	float: left;
	display: block;
	width: 50%;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.articles time {
	display: block;
	color: #a3a3a3;
	font-family: AndadaSC;
	font-weight: bold;
	font-size: 12pt;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.articles a {
	font-family: Andada;
	font-size: 36pt;
	text-decoration: none;
}

.articles a:link {
	color: #000;
}

.articles a:visited {
	color: #000;
}

.articles a:hover {
	color: #ea4525;
}

.articles a:active {
	color: #ea4525;
}

.articles p {
	font-family: AndadaSC;
	font-size: 22pt;
}

