<html>
<head>
  {{ $title := (printf "%s | Darren Clark" .Title) }}
  {{ $ogtitle := (printf "%s | Darren Clark" .Title) }}
  {{ if .IsHome }}
    {{ $title = "Darren Clark" }}
    {{ $ogtitle = "Darren Clark" }}
  {{ else if .IsPage }}
    {{ $title = (printf "%s | Darren Clark" .Title) }}
    {{ $ogtitle = .Title }}
  {{ else if eq (.Section) "tags" }}
    {{ $title = (printf "#%s | Darren Clark" .Page.Data.Term) }}
    {{ $ogtitle = (printf "Posts tagged #%s" .Page.Data.Term) }}
  {{ end }}

  <title>{{ $title }}</title>

  {{ $css := resources.Get "./style.css" }}
  {{ $secureCSS := $css | resources.Fingerprint "sha512" }}
  <link rel=stylesheet type="text/css" href="{{ $secureCSS.Permalink }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="canonical" content="{{ .Permalink }}">

  <meta property="og:title" content="{{ $ogtitle }}">
  <meta property="og:site_name" content="Darren Clark">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}apple-touch-icon.png" />

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ if .IsPage }}
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ .Summary }}">
  <meta name="description" content="{{ .Summary }}">
  {{ else }}
  <meta property="og:type" content="website">
  {{ end }}


  <!-- Global site tag (gtag.js) - Google Analytics -->
  {{ if not .Site.IsServer }}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131464577-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131464577-1');
  </script>
  {{ end }}

</head>
<body class="bg-[#f4f4f4] font-sans leading-normal tracking-normal">
  <nav class="flex flex-row mx-auto items-baseline max-w-screen-md mt-4 border-solid border-b-[1px] border-amber-600 px-2 md:px-2 lg:px-0 md:pb-2">
    {{ if ne .Kind "page" }}
      <div class="flex-grow font-extrabold text-2xl md:text-5xl">
        <a href="/">Darren Clark</a>
      </div>
    {{ else }}
      <div class="flex-grow font-extrabold text-xl">
        <a href="/">Darren Clark</a>
      </div>
    {{ end }}
    <ul class="flex-shrink">
      <li class="inline-block mr-2">
        <a href="/articles">Articles</a>
      </li>
    </ul>
  </nav>
  {{ block "main" . }}
  {{ end }}
  <footer class="text-center text-sm text-gray-500 mx-auto max-w-screen-md mt-4 border-solid border-t-[1px] border-amber-600 pb-2 mb-20">
    <p class="mt-4">Copywrite &copy; Darren Clark 2018 - {{ dateFormat "2006" now }}</p>
    <p>
      <a rel="license" class="underline" href="http://creativecommons.org/licenses/by-sa/2.5/ca/">CC BY-SA 2.5 CA</a> (content) /
      <a rel="license" class="underline" href="https://unlicense.org">Unlicense</a> (code snippets)
    </p>
  </div>
</body>
</html>
