{{ define "main" }}

<div class="mx-auto max-w-screen-md flex mt-4">
  <div class="w-1/3 text-center">
      <h1 class="text-lg font-bold mb-3">About Me</h1>

      <p class="mb-3">Software developer living and working in Toronto</p>

      <p>
        <a class="underline" href="https://github.com/darrenclark">Github</a> /
        <a class="underline" href="https://twitter.com/darrenclark">Twitter</a>
      </p>
  </div>
  <div class="w-2/3 border-solid border-l-[1px] border-black pl-4">
    <ul>
      <h1 class="text-lg font-bold mb-3">Recent Articles</h1>

      {{ range first 10 (where $.Site.RegularPages "Type" "articles") }}

      <li class="pb-1">
        <a href="{{.Permalink}}">{{.Date.Format "Jan 02, 2006"}} {{.Title}}</a>
      </li>

      {{ end }}
    <ul>
  </div>
</div>

{{ end }}
